<div id="header" class="primaryBg">
  <div class="header-box wrap">
    <h1 class="header-logo clearfix">
      发票打印
    </h1>
    <div class="nav">
      <ul class="nav-item clearfix">
        <li class="fore active">
          <a href="index.html">首页</a>
        </li>
        <li class="fore"><a href="solution.html">解决方案</a></li>
        <li class="fore"><a href="news.html">公司新闻</a></li>
        <li class="fore"><a href="news-details.html">公司文化</a></li>
        <li class="fore"><a href="javascript:void(0);">联系我们</a></li>
      </ul>
      <span class="navline"></span>
    </div>
  </div>
</div>
