<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./static/bootstrap.min.css">
    <meta name="keywords" content="在线打印电子发票,pdf发票,png发票,jpeg发票,jpg发票">
    <meta name="description" content="在线打印电子发票工具，发票助手可以打印多张pdf、jpg、jpeg、png格式发票 <br>一张A4纸打印两张发票">

    <link rel="stylesheet" href="./assets/css/reset.css"/>
    <link rel="stylesheet" href="./assets/css/pdf-to-images.less"/>
    <link rel="stylesheet" href="./static/element-ui.css"/>
    <title>PDF文件转图片小工具</title>
    <style>
        [v-cloak] {
            display: none;
        }

    </style>
</head>
<body>
@@include('header.html')
<div class="flex-container" id="app" v-cloak>
    <form v-if="!pdfs.length">
        <div class="container">
            <div style="height:50px"></div>
            <h5>您可以选择需要转化的PDF文件</h5>
<!--            <label class="btn btn-lg btn-primary btn-block" for="inputfile">-->
<!--                选择PDF文件-->
<!--            </label>-->
            <el-button  type="primary" @click="onChange()" type="button">选择PDF文件<i class="el-icon-upload2"></i></el-button>
<!--            <input style="display: none" type="file" multiple name="file" class="form-control-file"-->
<!--                   accept="application/pdf" id="inputfile" @change="onChange">-->
            <h5>或将PDF文件拖拽或黏贴到下方输入框内</h5>
            <textarea @paste.stop="onPaste" id="copyImg"
                      placeholder="将PDF文件拖拽或黏贴至此"></textarea>

            <div style="height:100px"></div>
            <div>可以批量转化全部页面，也可以单独转化一个页面</div>
            <p>本工具不会上传任何文件或信息到服务器，一切操作和计算都在您本地进行。</p>
        </div>

    </form>
    <div id="a4" v-if="pdfs.length">
        <el-button-group>
<!--            <el-button type="primary" icon="el-icon-arrow-left">上一页</el-button>-->
<!--            <el-button type="primary">下一页<i class="el-icon-arrow-right el-icon&#45;&#45;right"></i></el-button>-->
            <el-button @click="downZip" type="primary">打包下载<i class="el-icon-download"></i></el-button>

            <el-button  type="primary" @click="onChange()" type="button">添加PDF文件<i class="el-icon-upload2"></i></el-button>
        </el-button-group>
        <div class="container-view">
            <div class="left">
                <div class="invoice" v-lazy-show="jndex" @click="goImg(j,jndex)" @show="onShow(j)" :style="{width: j.width +'px',height: j.height +'px'}" v-for="(j,jndex) in thumbnails" :key="jndex">
                    <img  v-if="j.src" :src="j.src"
                         style="page-break-inside:avoid;width: 100%"/>
                    <!--                    <button class="btn btn-danger" @click="onDelete(j)" type="button">删除</button>-->
                </div>

            </div>
            <div class="right">
                <div class="a4" v-for="(i,index) in imgs" ref="img" v-lazy-show="index" @show="onShow(i,2)" :key="index" :style="{width: !i.src?i.width +'px':'',height: !i.src?i.height +'px':''}">
                    <img v-if="i.src" :src="i.src"
                         style="page-break-inside:avoid;width: 100%"/>
                    <el-button  type="primary" v-if="i.src" @click="downImg(i)" type="button">下载<i class="el-icon-download"></i></el-button>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- build:js static/js/lib.js -->
<script src="./static/vue.min.js"></script>
<script src="./static/element-ui.js"></script>
<!-- endbuild -->
<script defer src="./static/pdfjs/pdf.js"></script>
<script defer src="./static/FileSaver.min.js"></script>
<script defer src="./static/jszip.min.js"></script>
<script defer type="module">
    import LazyShow from './assets/js/LazyShow.js';

    Vue.use(LazyShow, {
        default: './static/pdfjs/images/loading-icon.gif',
    })
    var vm = new Vue({
        el: '#app',
        data: {
            pdfs: [],
            imgs: [],
            thumbnails: [],
            currentPages: 0,
            totalPages: 0, //声明一个当前页码及总页数变量
            scale: 2,//设置缩放比例，越大生成图片越清晰
        },
        mounted() {
            var target = document.getElementById('copyImg');
            target.addEventListener('dragover', (event) => {
                event.preventDefault();
            })
            target.addEventListener('drop', (event) => {
                event.preventDefault();
                const files = event.dataTransfer.files // 获取到第一个上传的文件对象
                this.addImg(files)
            })
        },
        computed: {},
        methods: {
            onShow(e, scale = 0.5) {
                if (!e.src) {
                    this.renderImg(this.pdfs[e.pdfIndex], e.index, scale).then((data) => {
                        e.src = data.src
                        e.width = data.width
                        e.height = data.height
                    });
                }
            },
            // 跳转到对应页面
            goImg(j,jndex){
               let el = this.$refs['img'][jndex]
                el.parentNode.scrollTo({ 'behavior': 'smooth', 'top':  el.offsetTop - el.parentNode.offsetTop })
            },
            onDelete(j) {
                this.imgs.splice(this.imgs.indexOf(j), 1)
            },
            onChange() {

                let input = document.createElement('input')
                input.type = 'file'
                input.name = 'file'
                input.accept = 'application/pdf'
                input.multiple = true
                input.onchange = (event)=>{
                    console.log(event)
                    this.addImg(event.target.files)
                }
                input.click()

            },
            onPaste(event) {
                console.log(event)
                var clipboardData = (event.clipboardData || window.clipboardData)
                let files = clipboardData.files
                this.addImg(files)

            },
            //渲染生成图片
            renderImg(pdfFile, pageNumber, scale) {
                return pdfFile.getPage(pageNumber).then((page) => { //逐页解析PDF
                    let [top, left, w, h] = page.view
                    if (scale === 0.5) {
                        scale = 150 / w
                    }
                    // page.getTextContent().then((e)=>{console.log(e)})
                    var viewport = page.getViewport({
                        scale
                    }); // 页面缩放比例
                    var newcanvas = document.createElement('canvas');
                    var canvasContext =  newcanvas.getContext('2d');
                    //设置canvas真实宽高
                    newcanvas.width = viewport.width;
                    newcanvas.height = viewport.height;

                    //设置canvas在浏览中宽高
                    newcanvas.style.width = "100%";
                    newcanvas.style.height = "100%";

                    var renderContext = {
                        canvasContext: canvasContext,
                        viewport: viewport
                    };

                    return page.render(renderContext).promise.then(() => {
                        var dataURL = newcanvas.toDataURL("image/png");
                        return {
                            src: dataURL,
                            width: newcanvas.width,
                            height: newcanvas.height,
                        }
                    }); //渲染生成
                });
            },
            async addImg(files) {
                const workerParameters = {
                    workerPort: null,
                    workerSrc: './static/pdfjs/pdf.worker.js'
                }
                for (const key in workerParameters) {
                    pdfjsLib.GlobalWorkerOptions[key] = workerParameters[key];
                }
                for (let i = 0; i < files.length; i++) {
                    let file = files[i]
                    let fileExtension = file.name.split('.').pop()
                    if(fileExtension.toLowerCase() !== 'pdf'){
                        this.$notify.error({
                            title: '提示',
                            message: '请上传pdf文件'
                        });
                        continue
                    }
                    let pdfIndex = this.pdfs.length
                    console.log(pdfIndex)
                   await new Promise((resolve,reject) => {
                        let fileReader = new FileReader();
                        fileReader.onload = () => {
                            pdfjsLib.getDocument({
                                cMapPacked: true,
                                cMapUrl: "./cmaps/",
                                disableAutoFetch: false,
                                disableFontFace: false,
                                disableRange: false,
                                disableStream: false,
                                docBaseUrl: "",
                                enableXfa: true,
                                fontExtraProperties: false,
                                isEvalSupported: true,
                                maxImageSize: -1,
                                pdfBug: false,
                                standardFontDataUrl: "./standard_fonts/",
                                url: fileReader.result,
                                verbosity: 1
                            }).promise.then(async (pdf) => { //调用pdf.js获取文件
                                if (pdf) {
                                    this.pdfs.push(pdf)
                                    this.totalPages = pdf.numPages
                                    let totalPages = pdf.numPages; //获取pdf文件总页数
                                    pdf.getPage(1).then((page) => { //逐页解析PDF
                                        let [top, left, w, h] = page.view
                                        //遍历动态创建canvas
                                        for (var i = 1; i <= totalPages; i++) {
                                            this.thumbnails.push({
                                                pdfIndex,
                                                src: '',
                                                index: i,
                                                width: 150, height: h * (150 / w)
                                            })
                                            this.imgs.push({
                                                pdfIndex,
                                                src: '',
                                                index: i,
                                                width: w, height: h
                                            })

                                        }
                                        resolve()
                                    })


                                }
                            });
                        }
                        fileReader.readAsDataURL(file);
                    })

                }


            },
            downImg(i) {
                // 这里是获取到的图片base64编码,这里只是个例子哈，要自行编码图片替换这里才能测试看到效果
                const imgUrl = i.src
                // 如果浏览器支持msSaveOrOpenBlob方法（也就是使用IE浏览器的时候），那么调用该方法去下载图片
                if (window.navigator.msSaveOrOpenBlob) {
                    var bstr = atob(imgUrl.split(',')[1])
                    var n = bstr.length
                    var u8arr = new Uint8Array(n)
                    while (n--) {
                        u8arr[n] = bstr.charCodeAt(n)
                    }
                    var blob = new Blob([u8arr])
                    window.navigator.msSaveOrOpenBlob(blob, i.index + '.' + 'png')
                } else {
                    // 这里就按照chrome等新版浏览器来处理
                    const a = document.createElement('a')
                    a.href = imgUrl
                    a.setAttribute('download', i.index)
                    a.click()
                }
            },
            async downZip() {

                var zip = new JSZip(); //创建一个JSZip实例f

                //将图片放进文件夹images中
                for (let i = 0; i < this.imgs.length; i++) {
                    let img = this.imgs[i]
                    let src = img.src
                    if(!src){
                        let data = await this.renderImg(this.pdfs[img.pdfIndex], img.index, 3)
                        img.src = data.src
                        img.width = data.width
                        img.height = data.height
                        src = data.src
                    }

                    zip.file("photo-" + (img.index + 1) + ".png", this.splitBase64(src), {
                        base64: true
                    });
                }



                //打包下载
                zip.generateAsync({
                    type: "blob"
                }).then(function (content) {
                    saveAs(content, "picture.zip"); //saveAs依赖的js文件是FileSaver.js
                });

            },
            //截取base64前缀
            splitBase64(dataurl) {
                var arr = dataurl.split(',')
                return arr[1]
            },
        }
    })
</script>
@@include('footer.html')
</body>
</html>
